head
    title #{pagetitle}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Meta tags
    meta(name='Title', content="#{content.metas.title}")
    meta(name='Keywords', content="#{content.metas.keywords}")
    meta(name='Description', content="#{content.metas.description}")
    meta(name='Author', content="#{content.metas.author}")
    meta(name='Subject', content="#{content.metas.subject}")
    meta(name='Language', content="#{content.metas.language}")

    //- Facebook metas
    meta(property="og:site_name", content="#{content.OG.sitename}")
    meta(property="og:url", content="#{content.OG.url}")
    meta(property="og:title", content="#{pagetitle}")
    meta(property="og:description", content="#{content.OG.description}")
    meta(property="og:image", content="#{content.OG.image}")
    meta(property="og:type", content="#{content.OG.type}")

    //- Favicon
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    //- Styles
    link(rel="stylesheet", href="../css/main.css")
