//- generate error page in one big html file

//- error counters are used to show how many of each errors are found
//- error counters TODO : It's a little ugly would like to clean this
- var jsErrorCount = 0
- var jsInfoCount = 0
- var jsWarningCount = 0
- var jsUnusedCount = 0
- var jsConcatWarns = 0
- var jsTotalErrors = 0
- var cssErrorCount = 0
- var cssWarningCount = 0
- var cssTotalErrors = 0

//- increment counters based on errors received result is for jslinter
if result
    each resultEl in result
        if resultEl.error.code.match(/^[E]/)
            - jsErrorCount++
        if resultEl.error.code.match(/^[W]/)
            - jsWarningCount++
        if resultEl.error.code.match(/^[I]/)
            - jsInfoCount++
each dataEl in data
    if dataEl.unused !== undefined
        - jsUnusedCount = 1
- jsConcatWarns = jsWarningCount + jsUnusedCount
- jsTotalErrors = jsWarningCount + jsUnusedCount + jsErrorCount + jsInfoCount

//- increment counters based on errors received scsslint is for sass linter
if scsslint
    each scsslintEl, scsslintKey in scsslint
        each errorEl in scsslintEl
            if errorEl.severity == 'error'
                - cssErrorCount++
            if errorEl.severity == 'warning'
                - cssWarningCount++
- cssTotalErrors = cssErrorCount + cssWarningCount

doctype html
<!--[if IE 8]>
html.no-js.ie.ie8(lang="#{pLanguage}", dir="#{pReadDirection}")
<![endif]-->
<!--[if IE 9]>
html.no-js.ie.ie9(lang="#{pLanguage}", dir="#{pReadDirection}")
<![endif]-->
<!--[if gt IE 9]><html class="gt-ie9 non-ie" lang="en"><![endif]-->
html(lang="en", dir="ltr")
    head
        title Test results
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title} - #{pName}
        meta(name="description", content="Pampers")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Facebook metas
        meta(property="og:site_name", content="Pampers")
        meta(property="og:url", content="")
        meta(property="og:title", content="#{title}")
        meta(property="og:description", content="")
        meta(property="og:image", content="")
        meta(property="og:type", content="website")

        //- Styles
        link(rel="stylesheet", href="styles/test.css")

    body
        header
            .container
                h1 Test results
        .container.report-holder
            .row
                .col-md-9(role="main")
                    .panel-group#accordion(role="tablist" aria-multiselectable="true")
                        .panel.panel-minimal
                            .panel-heading#headingOne(role="tab")
                                a(data-toggle="collapse",data-parent="#accordion",href="#collapseOne" aria-expanded="true",aria-controls="collapseOne")
                                    h4.panel-title
                                        | Scss report
                                        //- if errors show a badge with the count. if not show no badges
                                        if cssTotalErrors > 0
                                            .pull-right
                                                if cssErrorCount > 0
                                                    span.space-right-15
                                                        i.glyphicon.glyphicon-exclamation-sign.icon-red &nbsp;
                                                        span &nbsp;#{cssErrorCount}
                                                if cssWarningCount > 0
                                                    span
                                                        i.glyphicon.glyphicon-warning-sign.icon-yellow &nbsp;
                                                        span &nbsp;#{cssWarningCount}
                                        else
                                            .pull-right
                                                span
                                                    span.glyphicon.glyphicon-ok-sign.icon-green &nbsp;
                            if cssTotalErrors > 0
                                .panel-collapse.collapse#collapseOne(role="tabpanel",aria-labelledby="headingOne")
                                    .panel-body

                                        each scsslintEl, scsslintKey in scsslint

                                            each cssErrorEl in scsslintEl
                                                .row.report-holder__report
                                                    .col-md-2
                                                        if cssErrorEl.severity == 'error'
                                                            span
                                                                span.glyphicon.glyphicon-exclamation-sign.icon-red
                                                                | &nbsp;Error

                                                        if cssErrorEl.severity == 'warning'
                                                            span
                                                                span.glyphicon.glyphicon-warning-sign.icon-yellow
                                                                | &nbsp;Warning

                                                    .col-md-5
                                                        p.bold-text #{cssErrorEl.reason}
                                                        p.small-text line: #{cssErrorEl.line} column: #{cssErrorEl.column} length: #{cssErrorEl.length}
                                                        p.small-text linter: #{cssErrorEl.linter}
                                                    .col-md-5
                                                        | #{scsslintKey}








                        .panel.panel-minimal
                            .panel-heading#headingTwo(role="tab")
                                a(data-toggle="collapse",data-parent="#accordion",href="#collapseTwo" aria-expanded="true",aria-controls="collapseTwo")
                                    h4.panel-title
                                        | Js report
                                        if jsTotalErrors > 0
                                            .pull-right

                                                if jsInfoCount > 0
                                                    span
                                                        i.glyphicon.glyphicon-info-sign.icon-blue &nbsp;
                                                        span &nbsp;#{jsInfoCount}
                                                if jsConcatWarns > 0
                                                    span
                                                        i.glyphicon.glyphicon-warning-sign.icon-yellow &nbsp;
                                                        span &nbsp;#{jsConcatWarns}
                                                if jsErrorCount > 0
                                                    span.space-right-15
                                                        i.glyphicon.glyphicon-exclamation-sign.icon-red &nbsp;
                                                        span &nbsp;#{jsErrorCount}

                                        else

                                            .pull-right
                                                span
                                                    span.glyphicon.glyphicon-ok-sign.icon-green &nbsp;
                            if jsTotalErrors > 0
                                .panel-collapse.collapse#collapseTwo(role="tabpanel",aria-labelledby="headingTwo")
                                    .panel-body

                                        each resultEl in result
                                            .row.report-holder__report

                                                .col-md-2
                                                    if resultEl.error.code.match(/^[E]/)
                                                        span
                                                            span.glyphicon.glyphicon-exclamation-sign.icon-red
                                                            | &nbsp;Error

                                                    if resultEl.error.code.match(/^[I]/)
                                                        span
                                                            span.glyphicon.glyphicon-info-sign.icon-blue
                                                            | &nbsp;Attention

                                                    if resultEl.error.code.match(/^[W]/)
                                                        span
                                                            span.glyphicon.glyphicon-warning-sign.icon-yellow
                                                            | &nbsp;Warning

                                                .col-md-5
                                                    p.bold-text #{resultEl.error.reason}
                                                    p.small-text line: #{resultEl.error.line} column: #{resultEl.error.character}
                                                    p
                                                        code #{resultEl.error.evidence}
                                                .col-md-5
                                                    | #{resultEl.file}
                                        if jsUnusedCount > 0
                                            .alert.alert-warning
                                                span
                                                    span.glyphicon.glyphicon-warning-sign.icon-yellow
                                                    | Warning

                                                | &nbsp;&nbsp; Unused variables
                                            each dataEl in data
                                                if dataEl.unused !== undefined

                                                        .report-holder__report.row
                                                            .col-md-6
                                                                each unusedEl in dataEl.unused
                                                                    p
                                                                        code #{unusedEl.name}
                                                                        span.small-text &nbsp;line: #{unusedEl.line}, character: #{unusedEl.character}
                                                            .col-md-6
                                                                | #{dataEl.file}






                        .panel.panel-minimal
                            .panel-heading#headingThree(role="tab")
                                a(data-toggle="collapse",data-parent="#accordion",href="#collapseThree" aria-expanded="true",aria-contrls="collapseThree")
                                    h4.panel-title
                                        | JSCS compliance
                                        if totalCount > 0
                                            .pull-right
                                                if totalCount > 0
                                                    span
                                                        i.glyphicon.glyphicon-warning-sign.icon-yellow &nbsp;
                                                        span &nbsp;#{totalCount}

                                        else

                                            .pull-right
                                                span
                                                    span.glyphicon.glyphicon-ok-sign.icon-green &nbsp;
                            if totalCount > 0 > 0
                                .panel-collapse.collapse#collapseThree(role="tabpanel",aria-labelledby="headingThree")
                                    .panel-body
                                        each jscsErrorEl in errors
                                                .row.report-holder__report

                                                    .col-md-2
                                                        span
                                                            span.glyphicon.glyphicon-warning-sign.icon-yellow
                                                            | &nbsp;Warning

                                                    .col-md-5

                                                        p.small-text line: #{jscsErrorEl.line} column: #{jscsErrorEl.column}
                                                        p.small-text rule: #{jscsErrorEl.rule}

                                                    .col-md-5
                                                        | #{jscsErrorEl.filename}
                                                    .col-md-10.col-md-offset-2
                                                        pre #{jscsErrorEl.explainedError}

                        .panel.panel-minimal
                            .panel-heading#headingFour(role="tab")
                                a(data-toggle="collapse",data-parent="#accordion",href="#collapseFour" aria-expanded="true",aria-contrls="collapseFour")
                                    h4.panel-title
                                        | Css Stats
                            .panel-collapse.collapse#collapseFour(role="tabpanel",aria-labelledby="headingFour")
                                .panel-body
                                    .row.report-holder__report

                                        .col-md-5.col-md-offset-2
                                            p.bold-text Size
                                            p.small-text #{size/1000}kb
                                        .col-md-5
                                            p.bold-text Gzip size
                                            p.small-text #{gzipSize/1000}kb

                                    .row.report-holder__report
                                        .col-md-10.col-md-offset-2
                                            p.bold-text Media queries used
                                            each QueryEl in aggregates.mediaQueries
                                                .col-md-12.space-bottom-15
                                                    .panel.panel-report
                                                        .panel-body
                                                            | #{QueryEl}

                                    .row.report-holder__report
                                        .col-md-5.col-md-offset-2
                                            p.bold-text Selectors
                                            p.small-text #{aggregates.selectors}
                                            p.small-text Ids used: #{aggregates.idSelectors}
                                            p.small-text classes used: #{aggregates.classSelectors}
                                            p.small-text pseudo classes targetted: #{aggregates.pseudoClassSelectors}
                                            p.small-text pseudo elements targetted: #{aggregates.pseudoElementSelectors}

                                        .col-md-5
                                            p.bold-text Declarations
                                            p.small-text #{aggregates.declarations}
                                        .col-md-10.col-md-offset-2
                                            each selectorEl in selectors

                                                .col-md-4.space-bottom-15
                                                    .panel.panel-report
                                                        .panel-heading
                                                            | #{selectorEl.selector}
                                                        .panel-body
                                                            span.small-text Specificity : #{selectorEl.specificity}






                                    .row.report-holder__report
                                        .col-md-10.col-md-offset-2
                                            p.bold-text Properties specified
                                                .row
                                                    each propertyEl, i in aggregates.properties

                                                        .col-md-4.space-bottom-15
                                                            .panel.panel-report
                                                                .panel-heading
                                                                    | #{propertyEl}
                                                                .panel-body
                                                                    span.small-text Total: #{aggregates[propertyEl].total}
                                                                    br
                                                                    span.small-text unique:  #{aggregates[propertyEl].unique}








                .col-md-2.col-md-offset-1(role="complimentary")
                    nav.side-menu
                        ul.nav.nav-stacked
                            li#scssLink
                                a(href="#headingOne")
                                    | Scss report
                            li#jsLink
                                a(href="#headingTwo")
                                    | Js report
                            li#jscsLink
                                a(href="#headingThree")
                                    | JSCS compliance
                            li#statsLink
                                a(href="#headingFour")
                                    | Css stats
        .footer-scripts
            script(src="js/jquery.min.js")
            script(src="js/boostrap/bootstrap.min.js")
            script.
                $(document).ready(function(){
                    $('#headingOne a').on('click',function(){
                        $('#scssLink').toggleClass('active');
                        $('li').not('#scssLink').removeClass('active');
                    })
                    $('#headingTwo a').on('click',function(){
                        $('#jsLink').toggleClass('active');
                        $('li').not('#jsLink').removeClass('active');
                    })
                    $('#headingThree a').on('click',function(){
                        $('#jscsLink').toggleClass('active');
                        $('li').not('#jscsLink').removeClass('active');
                    })
                    $('#headingFour a').on('click',function(){
                        $('#statsLink').toggleClass('active');
                        $('li').not('#statsLink').removeClass('active');
                    })
                    $('#scssLink').on('click',function(){
                        $('#headingOne a').click();
                    })
                    $('#jsLink').on('click',function(){
                        $('#headingTwo a').click();
                    })
                    $('#jscsLink').on('click',function(){
                        $('#headingThree a').click();
                    })
                    $('#statsLink').on('click',function(){
                        $('#headingFour a').click();
                    })
                })



