mixin button(options)

	- type = options.type || '';
	- icon = options.icon || '';
	- text = options.text || '';
	- style = options.style || '';
	- classes = options.classes || '';
	- href = options.href || '';
	- attributes = options.attributes || '';
	- target = options.target || '_blank'

	if type == 'icon'
		if href != ''
			a.btn.btn-icon(href="#{href}" role="button" class="#{style} #{classes}" type="button" target="#{target}")&attributes(attributes)
				i(class="icon-#{icon}")
		else
			button.btn.btn-icon(role="button" class="#{style} #{classes}" type="button")&attributes(attributes)
				i(class="icon-#{icon}")


	if type == 'primary' || type == 'secondary' || type == 'tertiary'
		if href != ''
			a.btn(class="btn-"+type+" "+classes type="button" target=target)&attributes(attributes)
				| #{text}
		else
			button.btn(class="btn-"+type+" "+classes type="button")&attributes(attributes)
				| #{text}


	if type == 'readmore'
		a.btn-reset(href=href role="button" class=classes type="button")&attributes(attributes)
			| Read more
			i(class="icon-chevron-thin-right")


	if type == 'submit'
		button.btn.btn-primary(type="submit" class=classes)&attributes(attributes)
			| #{text}


