mixin input(options)
	- type = options.type || 'text';
	- classes = options.classes || '';
	- text = options.text || 'text';
	- name = options.name || 'input';
	- attributes = options.attributes || '';
	- nolabel = options.nolabel || 'false';
	- error = options.error || 'Error msg';
	- labelState = ''

	if nolabel == 'true'
		- labelState = 'sr-only'

	if type == 'textarea'
		label(for=name)
			p #{text}
		textarea(name=name class=classes)&attributes(attributes)

	else if type =='hidden'
		input(type=type name=name class=classes)&attributes(attributes)

	else
		label(for=name)
			p(class=labelState) #{text}
			input(type=type name=name id=name class=classes)&attributes(attributes)
			p.small #{error}
