extends ../_base/layout.pug

block content
	.container
		.container__aside
			include aside
		.container__main-content
			//- semantic h1 for main page
			h1.sr-only
				| #{siteTitle}

			ul.main-content__posts
				//- if posts are found, display posts
				if posts
					each post in posts
						li.post__content
							article
								if post.title
									h2 #{post.title}

								.small
									+icon({
										icon:'clock'
									})
									| #{post.date.toDateString()}&nbsp;
									//- if category associated, display category with link to category page
									if post.category
										span
											| || posted in&nbsp;
											a(href="/category/#{post.category}")
												| #{post.category}
									//- if article was edited, show edit date
									if post.editdate
										span
											| &nbsp;|| last edited on #{post.editdate.toDateString()}
								if post.body
									//- if post is longer than 300 characters, slice and show only preview and a readmore link
									if post.body.length > 300
										- urlslug = "/post/"+post.urlSlug
										| !{marked(post.body.slice(0,300)+' ...')}
										+button({
											type: "readmore",
											href: urlslug,
											classes:"read-more"
										})

									else
										| !{marked(post.body)}



				else
					li.post__content
						h3 No posts yet!






